body{
    background-color: rgb(241, 240, 240); /*coulour de page*/

}

#blocmenu {       /* menu haut de la page pour téléchargement des SGBD  */
    height: 60px; /* hauteur de menu */
    font-size: 1.0em;
    font-family: Calibri, Times New Roman, Bookman Old Style, sans-serif;
    background-color: #344D59;
    padding-left: 120px;
}
    
    #menu li 
    {
    float: left; 
    list-style-type: none;
    }
    
    #menu li a, #menu li a:visited /* lien visité */
    {
    padding: 10px;
    line-height: 35px;
    font-size: 18px;
    text-decoration: none; 
    color: #FAAC58; 
    }
    
    #menu li a:hover /* changement coulour de lien lors la visite */
    { 
    background-color: #FAAC58;
    color: white; 
    }
        



header {   /* en-tête de page */
  
        background-color: rgba(0,0,100,0.5);
        text-align: center;
        color : black;    
        font-size:  12pt;
}

    
div.menu {  /* le menu est cliquable et doit envoyer vers une partie de la page  */
    display: block;
    float: left;
    width: 20%;
    padding: 2px;
    border: 2px solid rgb(241, 239, 239); /* la bordure */
    background-color: rgb(252, 247, 247); 
}


a:link{
    color:blue; 
    text-decoration:underline;    
}

a:visited{  /* lien visité */
    color:rgb(110, 10, 192);
}
a:hover{
    color:red; /* coulours de lien avec le pointeur */
    text-decoration:none;    
}
a:active, a:focus{ /*un lien actif sur lequel l'utilisateur a cliqué*/

    color:yellow;
}

ul.carre{
    list-style: square;
}

ol li{ /*regle css pour liste imbriqué*/
    color:blue;
    font-weight: normal;
}
ul li{
    color:rgb(15, 15, 15);
    font-weight: normal;
}

div.contenu {  /* Conteneur principal  */
    display: block;
    float: right;
    width: 75%;
    margin: 3px;
    font-size: 12pt;
    background-color:white;/*coulour de div , arriere contenu */

}

div{      /* sous Conteneur   */
			  		
    border:1px solid white;
    margin:0;
    margin-top:-2px;	/*Superpose la bordure sup avec celle du bas*/
    text-align:left;
    background-color:white; /*coulour de div*/
 } 



h1{
    display: block;
    background-color: #709CA7;
    font-size: 28 px;
    font-style: bold;
    color :black;
}

h2{
    display: block;
    background-color: #B8CBD0;
    font-size: 24 px;
    color :blue;
}

h3{
    
    font-size: 20 px;
    color :green;
}

h4{
    display: block;
    font-size: 14 px;
    color :black;
}

#centre {                /*centrer l affichage des image*/
    border:2px solid rgb(255, 255, 255);
    height: 100px;
    width:300px; 
    border-radius:10px; /*Coins arrondis*/
    text-align:center;
    display: table-cell; /*Modifier le mode d'affichage du div*/
    vertical-align: middle; /*Centrer verticalement*/
}

#centre img{
    width:100%;
}
#right {                /*centrer l affichage des image*/
    border:2px solid rgb(255, 255, 255);
    height:300px;
    width:300px; 
    border-radius:10px; /*Coins arrondis*/
    text-align:right;
    display: table-cell; /*Modifier le mode d'affichage du div*/
    vertical-align: middle; /*Centrer verticalement*/
}
#right img{
    width:100%;
}


table.type1 {  /*personnaliser le tableau */
    border-style: solid;        
    border-width: 2px;
    border-color: black;  
    border-collapse: collapse;  /*chaque cellule a une bordure commune */
    text-align: center;
    width: 100%;  
}

table.type1 th {
    border-style: solid;
     border-bottom-style: solid;
     border-bottom-width: 4px ; 
     background-color: rgb(230,230,230);    
}

table.type1 td {

    border-style: solid;
    border-width: 2px ;
    color: black;
    font-style: oblique;
}



.mottitre{ /* personnaliser les mots clés */
    color:black;
    font-weight:bold;
    text-decoration: underline rgb(7, 0, 0);/* souligner le mot titre */
}

 
div.finpage {
    display: block;
    float: right;
    width: 100%;
    font-size: 12pt;
    border:#B8CBD0 ;
    background-color:#B8CBD0;/*coulour de div , arriere contenu */

}




#finpage img{ /* personnaliser affichage des images de la fin page */
    border-radius:20px;
   border-color:#B8CBD0 ;
    width: 30px;
    background-color: #B8CBD0;
}



.cle {
    float:right;
    width:30%;
    height:85%;
    border :4px solid grey;
    border-bottom :none;
    margin-top:20px;
    padding:5px;
 }